* {
  margin: 0;
  padding: 0;
}
:root {
  --brand-color: #212121;
  --background-color: #fff;
  --checkmark-color: #2196f3;
}
h1,
h2,
h3 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--brand-color);
  width: 1600px;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.header {
  border: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
.container .navigation {
  display: flex;
  align-items: center;
  padding: 24px 0 25px 0;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--checkmark-color);
}
.black {
  color: #000;
  margin-left: 0px;
  margin-right: 93px;
}
.header a {
  text-decoration: none;
}
.navigation-links {
  display: flex;
}
.navigation-links-item:not(:last-child) {
  margin-right: 46px;
}
.navigation-links-link {
  font-weight: 500;
  color: var(--brand-color);
  letter-spacing: 0.02em;
}
.navigation-links-link:hover,
.navigation-links-link:focus {
  color: var(--checkmark-color);
}
.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contact-links-mail a {
  margin-right: 50px;
  margin-left: 367px;
}
.contact-links a {
  color: #757575;
  font-weight: 500;
}
.contact-links a:hover,
.contact-links a:focus {
  color: var(--checkmark-color);
}
.main-title {
  display: flex;
  padding: 200px 0;
  flex-direction: column;
  align-items: center;
}
.background {
  flex-basis: 1600px;
  margin: 0 auto;
}
.blue {
  background-color: #2f303a;
}
.main-title-text {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 696px;
  text-align: center;
  align-self: center;
  margin-bottom: 30px;
  color: var(--background-color);
}
.main-button {
  color: #fff;
  background-color: var(--checkmark-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  width: 200px;
  padding: 10px 41px;
  border-radius: 4px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.container .subsection {
  padding-top: 94px;
}
.description-title {
  font-weight: 700px;
  margin-bottom: 10px;
}
.main-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-start;
}
.main-description {
  flex-basis: calc((1170px-60px) / 3);
}
.description-items p {
  line-height: 1.71;
  color: #757575;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.description-images-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-start;
}
.description-images-list {
  flex-basis: calc((1170px-60px) / 3);
}
.gray {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.team {
  flex-basis: calc((1170px-90px) / 4);
}
.team-image {
  background-color: #fff;
}
.team-image figure {
  height: 368px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-description-name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 30px auto 10px;
}
.team-description-speciality {
  font-size: 16px;
  text-align: center;
  color: #757575;
}
.contact-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0;
}
.contact-data a {
  text-decoration: none;
}
.white {
  color: #fff;
  margin-left: 0px;
  margin-right: 93px;
}
.work-place {
  color: #fff;
  font-style: normal;
  margin-top: 20px;
}
.contact-links {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.contact-links:hover,
.contact-links:focus {
  color: var(--checkmark-color);
}
.portfolio {
  padding-bottom: 94px;
}
.list-of-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0;
}
.button-filters {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  color: var(--brand-color);
  background-color: #f5f4fa;
  border: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}
.buttons:not(:last-child) {
  margin-right: 8px;
}
.button-filters:hover,
.button-filters:focus {
  background-color: var(--checkmark-color);
  color: #fff;
  cursor: pointer;
}
.image-portfolio {
  padding-top: 50px;
}
.image-portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}
.image-portfolio-item {
  flex-basis: calc((1170px-60px) / 3);
}

.image-portfolio-item figure {
  width: 370px;
  height: 404px;
  background-color: #fff;
}
.image-portfolio-item figcaption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.clients-data {
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: space-between;
}
.image-portfolio-company {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.06em;
}
.image-portfolio-speciality {
  font-size: 16px;
  text-align: left;
  color: #757575;
}
