* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --brand-color: #212121;
  --background-color: #fff;
  --checkmark-color: #2196f3;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--brand-color);
  width: 1600px;
  font-size: 14px;
  letter-spacing: 3%;
  width: 1600px;
}
.header-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--checkmark-color);
  display: inline-block;
  margin-left: 215px;
  margin-top: 24px;
  margin-bottom: 25px;
}
.black {
  color: #000;
  margin-left: 0px;
  margin-right: 93px;
}
.navigation a {
  text-decoration: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.page-navigation li {
  display: flex;
  flex-direction: row;
  margin-left: 453px;
  justify-content: flex-start;
}
.navigation-links li {
  font-weight: 500;
  color: var(--brand-color);
  letter-spacing: 2%;
}
.navigation-links a:hover,
.navigation-links a:focus {
  color: var(--checkmark-color);
}
.contact a {
  color: #757575;
  font-weight: 500;
}
.contact a:hover,
.contact a:focus {
  color: var(--checkmark-color);
}

.main-title {
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
}
.main-title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-align: center;
  margin: 0 auto;
  width: 696px;
  color: var(--background-color);
}
.main-button {
  color: var(--brand-color);
  background-color: #f5f4fa;
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 6%;
  margin: 0 auto;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background-color: var(--checkmark-color);
  color: #fff;
}
.description-title {
  font-weight: 700px;
}

.description li {
  display: inline-block;
}
.description p {
  line-height: 1.71;
  color: #757575;
  width: 270px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.image-description li {
  display: inline;
}
.team-description {
  background-color: #f5f4fa;
}
.team-description li {
  display: inline-block;
  background-color: #fff;
}
.team-description figure {
  height: 368px;
}
.team-description-name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.team-description-speciality {
  font-size: 16px;
  text-align: center;
  color: #757575;
}
.contact-data {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}
.contact-data a {
  text-decoration: none;
}
.white {
  color: #fff;
}
.work-place {
  color: #fff;
  font-style: normal;
}
.contact-links {
  color: rgba(255, 255, 255, 0.6);
}
.contact-links:hover,
.contact-links:focus {
  color: var(--checkmark-color);
}
.filters {
  text-align: center;
}
.filters li {
  display: inline-block;
}
.button-filters {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--brand-color);
  background-color: #f5f4fa;
  border: #f5f4fa;
}
.button-filters:hover,
.button-filters:focus {
  background-color: var(--checkmark-color);
  color: #fff;
  cursor: pointer;
}
.image-portfolio li {
  display: inline-flex;
  background-color: #fff;
}
.image-portfolio figure {
  height: 404px;
}
.image-portfolio-company {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 6%;
}
.image-portfolio-speciality {
  font-size: 16px;
  text-align: left;
  color: #757575;
}
